{% extends 'base.html.twig' %}

{% block title 'Gérer les Options' %}

{% block body %}

    <div class="container mt-4">
        <h1>Gérer les Options </h1>
        
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        
        <div class="text-left mb-4">
            <a href="{{path('admin.optione.new')}}" class="btn btn-info">Ajouter une Option</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titres</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
             {% for optione in optiones %}
                <tr>
                    <td>{{optione.name}}</td>
                    <td>
                        <a href="{{path('admin.optione.edit', {'id': optione.id})}}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{path('admin.optione.delete', {'id': optione.id})}}" style="display: inline-block"; onsubmit=" return confirm('Etes-vous vraiment sur ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ optione.id)}}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


{% endblock %}